<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="adr_ros2_control" params="name prefix"> 

    <ros2_control name="${name}" type="system">

      <hardware>
        <plugin>4wd_kit_hardware/4WDKitHardware</plugin>
        <param name="IN1">27</param>
        <param name="IN2">22</param>
        <param name="IN3">25</param>
        <param name="IN4">24</param>
        <param name="ENA">23</param>
        <param name="ENB">18</param>
      </hardware>

      <gpio name="left">
        <command_interface name="command"/>
      </gpio>

      <gpio name="right">
        <command_interface name="command"/>
      </gpio>
    </ros2_control>


  </xacro:macro>
</robot>
